<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><a href="#">Baslik</a> </h1>
    <hr>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore repellendus vero placeat ipsum illum, veritatis perspiciatis laborum non quaerat odit porro fugiat est officia, cumque optio nesciunt quam sit? Consectetur.</p>
    <a href="#">Ahmet Emre</a>
    <span>2019</span>
    <h1>Baslik</h1>
    <hr>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore repellendus vero placeat ipsum illum, veritatis perspiciatis laborum non quaerat odit porro fugiat est officia, cumque optio nesciunt quam sit? Consectetur.</p>
    <a href="#">Ahmet Emre</a>
    <span>2019</span>
    <h1>Baslik</h1>
    <hr>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore repellendus vero placeat ipsum illum, veritatis perspiciatis laborum non quaerat odit porro fugiat est officia, cumque optio nesciunt quam sit? Consectetur.</p>
    <a href="#">Ahmet Emre</a>
    <span>2019</span>
</body>
</html>